body {
    background: #0d0d0f;
    color: white;
    font-family: Arial;
    margin: 0;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 40px;
    background-color: #0a0a0c;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo img{
    width: 50px;
}

.menu{
    margin-left: 40px;
    display: flex;
    gap: 25px;
}

.menu a{
    color: #dadada;
    text-decoration: none;
    font-size: 15px;
}

.menu a:hover{
    color: wheat;
}

.buscador input{
    margin-left: 50px;
    padding: 6px 10px;
    border-radius: 20px;
    overflow: hidden;
}

.back {
    color: white;
    text-decoration: none;
}

.banner {
    width: 100%;
    height: 330px;
    position: relative;
    overflow: hidden;
}

.banner video {
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.lista-container {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

.lista-personajes {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.card {
    width: 450px;
    background: #141418;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}

.card img {
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}
